receivers:
  otlp:
    protocols:
      http:

exporters:
  loki:
    endpoint: http://loki:3100/loki/api/v1/push
    labels:
      service_name: '{service.name}'
  tempo:
    endpoint: http://tempo:4317
    tls:
      insecure: true
  logging:
    loglevel: info

processors:
  batch: {}

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [tempo, logging]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [loki, logging]
